.card{
  background-color: var(--secondary-color);

}

.message-sub{
  margin:auto;
}

/* .subs-text{
  width: 500px;
} */

/* .input-sub-ml{
  margin-left: 10px;
} */
.form_{
  margin: auto;
}
.mr_{
  margin-right: 30px;
}

.btn-add{
  background-color: var(--primary-color);
}

