<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        officiis dolore velit repudiandae architecto
      </p>
      <form action="" class="form-inline mb-5 d-flex justify-content-space-between mt-5 form_">
        <div class="form-group col-md-5 mr_">
          <input type="text" class="form-control shadow-effect " placeholder="Your name">
        </div>

        <div class="form-group col-md-5 ">
          <input type="email" class="form-control shadow-effect" placeholder="Email Address">
        </div>

        <div class="col-md-2">
          <button class="btn btn-info btn-add btn-theme text-light" [disabled]="false">subscriber</button>
        </div>

      </form>
    </div>
  </div>
</div>
