<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (491)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2023 </small>

      <div class="mt-3 mb-3">
        lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Eaque ad distinctio quo earum error
        nesciunt omnis assumenda voluptatem, necessitatibus ipsa a doloremque
        beatae rem quae provident facere, quidem cupiditate. Consequuntur.
      </div>

      <a href="#" class="mt-1 link_"> Reply </a>
      <a href="#" class="mt-1 ml-3 link_"> View Reply </a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2023 </small>

      <div class="mt-3 mb-3">
        lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Eaque ad distinctio quo earum error
        nesciunt omnis assumenda voluptatem, necessitatibus ipsa a doloremque
        beatae rem quae provident facere, quidem cupiditate. Consequuntur.
      </div>

      <a href="#" class="mt-1 link_"> Reply </a>
      <a href="#" class="mt-1 ml-3 link_"> View Reply </a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2023 </small>

      <div class="mt-3 mb-3">
        lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Eaque ad distinctio quo earum error
        nesciunt omnis assumenda voluptatem, necessitatibus ipsa a doloremque
        beatae rem quae provident facere, quidem cupiditate. Consequuntur.
      </div>

      <a href="#" class="mt-1 link_"> Reply </a>
      <a href="#" class="mt-1 ml-3 link_"> View Reply </a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger"> LAST UPDATED - SEP 20, 2023 </small>

      <div class="mt-3 mb-3">
        lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Eaque ad distinctio quo earum error
        nesciunt omnis assumenda voluptatem, necessitatibus ipsa a doloremque
        beatae rem quae provident facere, quidem cupiditate. Consequuntur.
      </div>

      <a href="#" class="mt-1 link_"> Reply </a>
      <a href="#" class="mt-1 ml-3 link_"> View Reply </a>
      <hr>
    </div>

  </div>

</div>
