<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta earum,
          assumenda optio praesentium ipsam iste expedita omnis perspiciatis cum
          ea magni autem excepturi rem asperiores alias tenetur sit veritatis
          ipsum.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus magnam
      saepe enim officia ad fuga incidunt aperiam explicabo dolorem quam?
      Recusandae distinctio autem molestiae hic natus ad iusto eaque modi.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>

</section>
