<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme">
      <p class="text-theme-primary text_format_">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
        <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
        accusantium nulla assumenda et veritatis. Voluptas dolorem quis, dolores
        nesciunt assumenda natus distinctio dolore magni adipisci pariatur
        suscipit sunt unde commodi.
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-theme text-white p-3 btn-add btn-sm mt-4"> Back to home </button>
      </div>
    </div>
  </div>
</section>
