<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center"> Features </small>
    <small class="bg-light text-info text-center"> View - 100,213 </small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
      consequatur, placeat laboriosam natus distinctio et ut, eius aliquid
      dolorem hic suscipit accusantium adipisci excepturi! Placeat assumenda
      repellat eum! Similique, non?
    </p>
    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2023</small>
  </div>
</div>
